.navbar-wrapper {
  background-color: #f6f4f0;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-contents {
  align-items: center;
  justify-content: space-between;
  width: 1180px;
  height: 80px;
  margin: 0 auto;
}

.logo-categories {
  height: 80px;
}

.logo-wrapper {
  height: 30px;
  margin-right: 35px;
}

.logo-wrapper > img {
  object-fit: contain;
  height: 100%;
}

.nav-categories {
  height: 80px;
}

.snacks-category {
  margin-left: 8px;
  margin-right: 8px;
}

.pantry-category {
  margin-left: 8px;
  margin-right: 8px;
}

.drinks-category {
  margin-left: 8px;
  margin-right: 8px;
}

.snacks-category > button,
.pantry-category > button,
.drinks-category > button {
  margin-left: 8px;
  margin-right: 4px;
  font-size: 16px;
  font-weight: 500;
  height: 80px;
}

.navbar-popup {
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type: none;
  text-align: start;
  width: 150px;
}

.navbar-popup-right {
  position: relative;
  right: 40px;
  text-wrap: nowrap;
  width: 136px;
}

.outline-nav {
  height: 1px;
  width: 100%;
  background-color: #e5e5e5;
  outline-style: none;
  margin-bottom: 20px;
}

.down-arrow-icon:hover {
  cursor: pointer;
}

.snacks-category > button:hover,
.pantry-category > button:hover,
.drinks-category > button:hover {
  color: #cb1111;
}

.shopping-cart-icon {
  position: relative;
}

.badge {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: white;
  background-color: #cb1111;
}
