.landing-page {
  margin: 0 auto;
}

.hero-section {
  margin-left: 16px;
  margin-right: 16px;
  flex-wrap: wrap;
}

.card-one {
  width: 50%;
  height: 180px;
  padding-right: 10px;
  position: relative;
  order: 2;
}

.card-one > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-two {
  height: 50%;
  overflow: hidden;
  border-radius: 10px;
}

.card-three {
  height: 43.5%;
  overflow: hidden;
  border-radius: 10px;
}

.cards-two-and-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  max-height: 100%;
  height: 180px;
  padding-left: 10px;
  order: 3;
}

.carousel {
  width: 100%;
  order: 1;
}

.section-heading {
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100%;
}

.section-name {
  margin-left: 16px;
  font-family: 'Tilt Warp', sans-serif;
  font-size: 16px;
}

.view-all-button {
  font-size: 10px;
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-right: 16px;
}

.products-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: 350px;
  padding-left: 11px;
  padding-right: 11px;
}

@media screen and (width >= 768px) {
  .landing-page {
    max-width: 1200px;
  }

  .hero-section {
    flex-wrap: nowrap;
    height: 350px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-one {
    padding-right: 20px;
    width: 25%;
    height: 300px;
    order: 1;
  }

  .cards-two-and-three {
    padding-left: 20px;
    width: 25%;
    height: 300px;
    order: 3;
  }

  .carousel {
    width: 50%;
    order: 2;
  }

  .section-heading {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .section-name {
    font-size: 24px;
  }

  .view-all-button {
    font-size: 12px;
  }

  .products-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: visible;
    padding-left: 0;
    padding-right: 0;
  }
}
