.user-logo-cart {
  justify-content: space-between;
  align-items: center;
  background-color: #f6f4f0;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
}

.user-logo-cart > p {
  font-family: 'Tilt Warp', sans-serif;
  color: #cb1111;
  font-size: 18px;
}

.categories-search-bar {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 12px;
}

.categories {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.snacks-category,
.pantry-category,
.drinks-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.snacks-category > button,
.pantry-category > button,
.drinks-category > button {
  margin-left: 6px;
  margin-right: 2px;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
}

.search {
  margin-top: 0;
}

.shopping-cart-icon {
  position: relative;
}

.badge {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  color: white;
  background-color: #cb1111;
}
