.user-logo-cart {
  justify-content: space-between;
  align-items: center;
  background-color: #f6f4f0;
  height: 50px;
  margin-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
}

.user-logo-cart > p {
  font-family: 'Tilt Warp', sans-serif;
  color: #cb1111;
  font-size: 18px;
}

.categories-search-bar {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 12px;
}

.categories {
  display: flex;
  justify-content: space-between;
}

.snacks-category,
.pantry-category,
.drinks-category {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.snacks-category > button,
.pantry-category > button,
.drinks-category > button {
  margin-left: 6px;
  margin-right: 2px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (width >= 768px) {
  .navbar-contents {
    align-items: center;
  }

  .categories {
    justify-content: flex-start;
  }
}
