.popup-container {
  position: absolute;
}

ul {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-width: 100%;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 14px;
  width: 100%;
}

li:hover {
  color: #cb1111;
  background-color: #f2f2f2;
  cursor: pointer;
  font-weight: 600;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  pointer-events: all;
}
