.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 20px;
}

.product-details-container {
  max-width: 1180px;
  margin: 0 auto;
}

.breadcrumbs {
  align-items: center;
  flex-wrap: wrap;
  font-size: 12px;
}

.breadcrumb-arrow {
  margin-left: 4px;
  margin-right: 4px;
  color: #b0b0b0;
}

.name-breadcrumb {
  color: #cb1111;
}

.image-and-text {
  display: flex;
  flex-wrap: wrap;
}

.large-img-wrapper,
.text-details {
  flex-basis: 100%;
}

.large-img-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.defaultImg {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.subcategory {
  color: #b0b0b0;
  font-size: 14px;
  margin-bottom: 2px;
}

.name {
  display: flex;
  flex-wrap: wrap;
  color: #1f1f1f;
  font-size: 16px;
  font-family: 'Tilt Warp', sans-serif;
  margin-bottom: 5px;
}

.quantity-container {
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  width: 140px;
  height: 35px;
}

.price {
  font-weight: 700;
  font-size: 14px;
}

.buttons {
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.minus-icon,
.plus-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.add-to-cart-btn {
  background-color: #cb1111;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.description-heading {
  color: #777;
  font-weight: 600;
  margin-bottom: 8px;
}

.description {
  color: #777;
}

@media screen and (width >= 768px) {
  .container {
    width: 1180px;
    padding-left: 0;
    padding-right: 0;
  }

  .breadcrumbs {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .image-and-text {
    justify-content: space-between;
  }

  .text-details {
    flex-basis: 50%;
  }

  .large-img-wrapper {
    display: flex;
    justify-content: center;
    flex-basis: 40%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .small-images {
    flex-basis: 10%;
    padding-left: 20px;
    padding-right: 40px;
  }

  .small-img-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .small-img-wrapper:hover {
    cursor: pointer;
    border: 1px solid #b0b0b0;
  }

  .small-img-wrapper > img {
    object-fit: contain;
    max-height: 60px;
  }

  .name {
    font-size: 30px;
    line-height: 40px;
  }

  .price {
    font-size: 26px;
    color: #cb1111;
  }

  .buttons {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .add-to-cart-btn {
    width: 200px;
  }

  .description {
    margin-top: 20px;
  }

  .quantity-container {
    width: 120px;
  }

  .breadcrumb-button:hover,
  .minus-icon:hover,
  .plus-icon:hover {
    color: #cb1111;
    cursor: pointer;
  }
}

.add-to-cart-btn:hover {
  background-color: #de3a3a;
}
