.item-container {
  display: flex;
  justify-content: space-between;
}

.cart-image-wrapper {
  padding-top: 0.25rem;
  flex-basis: 25%;
  overflow: hidden;
}

.cart-image {
  width: 100%;
  object-fit: contain;
}

.item-info {
  padding: 0.25rem;
  flex-basis: 70%;
  flex-wrap: wrap;
}

.name-price-remove {
  flex-basis: 100%;
  margin-bottom: 10px;
}

.item-name {
  color: #777;
  font-size: 16px;
  width: 97%;
}

.item-price {
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.remove-item-button {
  color: #1760a4;
  font-size: 14px;
  text-decoration: underline;
}

.quantity-button-subtotal {
  flex-basis: 100%;
}

.quantity-label {
  font-size: 14px;
  color: #777;
  margin-bottom: 4px;
}

.subtotal-row {
  padding-top: 10px;
  font-size: 14px;
  color: #777;
}

.item-subtotal {
  margin-left: 10px;
  font-weight: 700;
  color: #1f1f1f;
}

.item-line {
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media screen and (width >= 768px) {
  .item-container {
    justify-content: space-between;
  }

  .cart-image-wrapper {
    padding: 1rem;
    flex-basis: 25%;
    overflow: hidden;
    height: 120px;
  }

  .cart-image {
    height: 100%;
  }

  .item-info {
    padding-top: 1rem;
    width: 100%;
  }

  .name-price-remove {
    flex-basis: 65%;
    margin-bottom: 20px;
    position: relative;
    right: 30px;
  }

  .item-price {
    padding-bottom: 4px;
  }

  .remove-item-button {
    padding-top: 10px;
  }

  .quantity-button-subtotal {
    flex-basis: 35%;
  }

  .item-line {
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
